.ep-two {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  width: 100%;
  font-size: 8rem;
  color: var(--text-primary);
  text-align: center;
}

@media screen and (max-width: 959px) {
  .ep-two {
    min-height: auto;
    height: auto;
    font-size: 2rem;
  }
}