.abilities-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 18px;
  background-color: var(--windows-blue);
  color: white;
  border-radius: 1px;
  padding: 2px 6px;
}

.abilities-control-section {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 4px;
}

.abilities-control {
  background-color: var(--windows-gray);
  padding: 3px 2px 2px 3px;
  color: var(--dark-gray);
  box-shadow: 
  2px 2px 0px var(--dark-gray),
  1px 1px 0px var(--lightest-gray) inset;
}

@media screen and (max-width: 959px) {
  .abilities-header {
    font-size: 12px;
  }
}